body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* กล่องเมนู */
.menu {
    position: relative;
    width: 220px;
}

/* หัวเมนู */
.menu-title {
    background: #003a8f;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

/* เมนูซ่อน */
.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;

    position: absolute;
    width: 100%;
    top: 100%;

    background: white;
    border-radius: 6px;
    overflow: hidden;

    display: none;
}

/* รายการ */
.dropdown li {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.dropdown li:last-child {
    border-bottom: none;
}

/* hover แสดงเมนู */
.menu:hover .dropdown {
    display: block;
}

/* hover รายการ */
.dropdown li:hover {
    background: #f0f0f0;
}
