html {
    scroll-behavior: smooth;
}
body {
    padding-top: 70px; /* กัน navbar บังเนื้อหา */
    font-family: Arial, sans-serif;
}
.section {
    padding: 80px 0;
}
/* profile image */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/* cards */
.card {
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.profile-img {
    transition: transform 0.3s ease;
}
/* สั่งให้ซูมเมื่อเอาเมาส์ชี้ */
.profile-img:hover {
    transform: scale(1.1); /* ขยายใหญ่ขึ้น 1.1 เท่า */
}
#about .card {
    /* ทำให้การเปลี่ยนภาพนุ่มนวล */
    transition: background-image 0.5s ease-in-out, color 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* --- คนที่ 1 (pprathee) --- */
/* เมื่อเมาส์ชี้ที่การ์ด หรือ รูปภาพ ของ pprathee */
#card-pprathee:hover {
    /* ใส่ Link รูป Wallpaper ของคนที่ 1 ตรงนี้ */
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), 
                      url('https://img.freepik.com/free-vector/abstract-paper-cut-shape-wave-background_474888-4650.jpg?semt=ais_hybrid&w=740&q=80');
}
#card-wchuephl:hover {
    /* ใส่ Link รูป Wallpaper ของคนที่ 1 ตรงนี้ */
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), 
                      url('https://img.freepik.com/free-vector/abstract-paper-cut-shape-wave-background_474888-4649.jpg');
}

/* NEW */
.content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.image img {
    width: 300px;
    border-radius: 12px;
}
.text {
    max-width: 700px;
    line-height: 1.7;
}
.text p {
    margin-bottom: 14px;
}
.Showcase {
    background-color: #f5f6fa;
    padding: 100px 80px;
}
.Showcase h1 {
    font-weight: 800; /* ตัวหนา */
}


/* PHUPHA */
.hero-text {
    max-width: 600px;
    line-height: 1.7;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    
}
.hero-image img {
    max-width: 300px;
    border-radius: 12px;
}
.hero-reverse {
    background-color: #cfcfcf;
    padding: 100px 80px;
}
.content-hero{
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
